.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    background-image: url("https://shopsafemarin.herokuapp.com/assets/images/home.png");
    color: white;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background-image: url("https://shopsafemarin.herokuapp.com/assets/images/jumbotron.png");
    background-size: cover;
    display: flex;
    color: white;
    font-family: 'Raleway', sans-serif;
    border-radius: 0px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #0A1013;
    font-family: 'Roboto', sans-serif;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

#MainDiv {
    background-color: floralwhite;
}

.body {
    font-family: 'Montserrat', serif;
}

p {
    font-family: 'Roboto', serif;
}

h3 {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.cardText {
    font-family: 'Montserrat', sans-serif;
    color: white;
    opacity: 0.5;
}

.cardTitle {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 5vh;
    opacity: 0.5;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  [class*="cardTitle"] {
    font-size: 20pt;
  }
}

.card:hover .cardTitle {
    opacity: 1;
}

.card:hover .cardText {
    opacity: 1;
}

.card:hover .fa-star {
    opacity: 1;
}

.card:hover .checked {
    opacity: 1;
}

.fa-star {
    color: black;
    opacity: 0.5;
}

.checked {
    color: orange;
    opacity: 0.5;
}

.bg {
    background-color: floralwhite;
    height: 100vh;
    background-image: url("https://shopsafemarin.herokuapp.com/assets/images/bananas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    border-radius: 10px;
    padding: 20px;
    font-family: sans-serif;
    color: #696969;
    font-size: 14pt;
    background: rgba(255, 255, 255, 0.8);
}

.cardbg {
    background: floralwhite;
}

.logo {
    display: block;
}

.logom {
    display: none;
}

@media all and (max-width: 499px) {
    .logo {display: none;}
    .logom {display: block}
}

.select {
    background-color: floralwhite !important;
}

.buttonStyle {
    color: floralwhite;
    background-color: #008000;
}

.buttonStyle:hover {
    color: white;
    background-color: #006400;
}

.buttonStyle {
    background-color: #008000;
}

.colorBar {
    background-color: floralwhite;
    height: 15vh;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addressFooter {
    color: white;
}