.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #C1D7E4;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #659DBD ;
    color:floralwhite;
    font-family: 'Raleway', sans-serif;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-image: linear-gradient(to right, #283E4B, #466D84) ;
    font-family: 'Roboto', sans-serif;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

#MainDiv {
    background-color: floralwhite;
}

.body {
    font-family: 'Libre Baskerville', serif;
}

h3 {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.cardText {
    font-family: 'Montserrat', sans-serif;
    color: white;
    opacity: 0.5;
}

.cardTitle {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 5vh;
    opacity: 0.5;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  [class*="cardTitle"] {
    font-size: 20pt;
  }
}

.card:hover .cardTitle {
    opacity: 1;
}

.card:hover .cardText {
    opacity: 1;
}

.card:hover .fa-star {
    opacity: 1;
}

.card:hover .checked {
    opacity: 1;
}

.fa-star {
    color: black;
    opacity: 0.5;
}

.checked {
    color: orange;
    opacity: 0.5;
}

.bg {
    background-image: url("http://localhost:3001/images/home.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}